<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<header class="media" th:fragment="header">
    <a href="" id="menu-toggle"></a>
    <a class="logo pull-left" href="index.html">Dispatch Admin 1.0</a>

    <div class="media-body">
        <div class="media" id="top-menu">
            <div class="pull-left tm-icon">
                <a data-drawer="messages" class="drawer-toggle" id="top_message" href="">
                    <i class="sa-top-message"></i>
                    <!--<i class="n-count animated">5</i>-->
                    <span>Messages</span>
                </a>
            </div>
        </div>
    </div>
</header>
</body>
</html>